* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap {
    max-width: 1024px;
    padding: 50px 30px 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: 20px 35px;
    background-color: hsl(0, 0%, 100%);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    display: block;
    justify-content: space-between;
    list-style: none;
}

header nav {
    color: #000000;
    font-weight: bold;
    margin: 2px 0;
}

header nav ul {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li a {
    padding: 10px 15px;
    color: #000000;
    font-size: 30px;
    margin-top: 3.640776699%;
    font-weight: 600;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    list-style: none;
    
}


body {
    font-family: "Rubik", "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: antiquewhite;
    display:block;

}

h1 {
    font-weight: bold;
    margin: 50px 0 50px 0;
    color: #000000;
    line-height: 50%;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;



}