* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 35px;
    background-color: hsl(0, 0%, 100%);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #000000;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
}

header nav {
    color: #000000;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    margin: 7px 0;
}

header nav ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li a {
    padding: 10px 15px;
    color: #000000;
    font-size: 18px;
    margin-top: 3.640776699%;
    font-weight: 600;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    list-style: none;
    
}

span {
    color: #000000;
    line-height: 70%;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    text-decoration: none;
    
}


body {
    font-family: "Rubik", "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: antiquewhite;
    display:block;

}